<app-header *ngIf="user.role==2"></app-header>
<div [ngClass]="user.role===1 ? 'container-admin' :'container-user' ">
    <app-admin-option *ngIf="user.role==1"></app-admin-option>
    <div class="change-password-container">
        <h2 class="change-password-title">Thay Đổi Mật Khẩu</h2>
        <form (ngSubmit)="OnSubmit()">
            <div class="change-password-group">
                <label for="current-password" class="change-password-label">Mật Khẩu Hiện Tại</label>
                <input type="password" id="current-password" name="current-password" class="change-password-input" required [(ngModel)]="oldPassword">
            </div>
            <div class="change-password-group">
                <label for="new-password" class="change-password-label">Mật Khẩu Mới</label>
                <input type="password" id="new-password" name="new-password" class="change-password-input" required [(ngModel)]="newPassword">
            </div>
            <div class="change-password-group">
                <label for="confirm-password" class="change-password-label">Xác Nhận Mật Khẩu Mới</label>
                <input type="password" id="confirm-password" name="confirm-password" class="change-password-input" required [(ngModel)]="passwordConfirm">
                
            </div>
            
            <button type="submit" class="change-password-btn">Thay Đổi Mật Khẩu</button>
        </form>
        <span style="color: red; margin-top: 20px; line-height: 40px;" *ngIf="isError">{{errorText}}</span>
    </div>
</div>
