.container-user {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh; /* Chiều cao toàn màn hình */
    background-color: #f0f0f0;
}

.container-admin {
    display: flex;
}

.change-password-container {
    background-color: #e8e4e4;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    max-height: 400px;
}
.change-password-title {
    margin-bottom: 20px;
    color: #333;
}
.change-password-group {
    margin-bottom: 15px;
}
.change-password-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.change-password-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.change-password-input:focus {
    border-color: #007bff;
}
.change-password-btn {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.change-password-btn:hover {
    background-color: #2da655;
}