.otp-container {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.otp-input {
    width: 100%;
    max-width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.otp-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
    outline: none;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.resend-btn-disable {
    background-color: #f679ae;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: default;
    font-size: 16px;
}

.resend-btn-active {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.submit-btn:hover {
    background-color: #0056b3;
}
